<!-- Wrapper -->
<div class="d-flex align-items-stretch w-100 ui-mh-100vh ui-bg-cover ui-bg-overlay-container" style="background-image: url(assets/img/bg1.jpg);">
    <div class="row no-gutters w-100">
        <div class="ui-bg-overlay bg-dark opacity-50"></div>

        <div class="d-flex col flex-column text-white px-4 px-sm-5">

            <div class="py-5 my-auto">

                <div class="display-4 text-expanded mb-2">We'll be launching</div>
                <h1 class="display-2 font-weight-bolder text-expanded">COMING SOON</h1>
                <p class="text-big">We are working very hard on our website. You can see result soon.</p>

                <div class="coming-soon-subscribe pt-5 mt-2 mb-auto">
                    <div class="form-row">
                        <div class="col">
                            <input type="text" class="form-control form-control-lg form-control-inverted font-secondary" placeholder="Enter your email...">
                        </div>
                        <div class="col-sm-3 mt-2 mt-sm-0">
                            <button type="button" class="btn btn-primary btn-lg btn-block font-secondary text-expanded px-0">
              <small class="font-weight-bold">NOTIFY ME</small>
            </button>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="d-flex col-lg-5 col-xl-4 align-items-center bg-white py-5 px-4 px-sm-5">
            <div class="flex-shrink-1">
                <h5 class="font-weight-bold mb-4">WHO <span class="text-primary">WE ARE</span></h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum fringilla justo, ac consectetur orci pulvinar sit amet. Pellentesque eget egestas sapien. Integer luctus rhoncus dolor, in egestas velit ultrices a. Ut eu urna
                    sodales, ultrices urna imperdiet, sagittis quam.</p>

                <h5 class="font-weight-bold mt-5 mb-4">TOUCH <span class="text-primary">WITH US</span></h5>
                <p><i class="ion ion-ios-mail ui-w-40 text-center text-lightest text-big align-middle"></i><a href="mailto:#" class="align-middle">support@example.com</a></p>
                <p><i class="ion ion-ios-call ui-w-40 text-center text-lightest text-big align-middle"></i><span class="align-middle">(800) 123-4567</span></p>
                <div>
                    <a href="#" class="btn icon-btn borderless btn-outline-twitter btn-round">
                        <span class="ion ion-logo-twitter"></span>
                    </a>
                    <a href="#" class="btn icon-btn borderless btn-outline-facebook btn-round">
                        <span class="ion ion-logo-facebook"></span>
                    </a>
                    <a href="#" class="btn icon-btn borderless btn-outline-instagram btn-round">
                        <span class="ion ion-logo-instagram"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>