<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <div class="row">
                    <!--Orders page header-->
                    <div class="col-12 col-md-6">
                        <h4 class="card-title pt-3">
                            Seller Management
                        </h4>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row mb-2">
                    <!--Search Box-->
                    <div class="col-12 col-md-4">
                        <label for="searchHere">Search here</label>
                        <input class="form-control" type="text" name="search" id="searchHere" [(ngModel)]="searchText" autocomplete="off" placeholder="Type here to search" />
                    </div>
                </div>

                <div class="row p-3" *ngIf="allSeller?.length <= 0">
                    <div class="col-12 col-md-12 text-center mt-3">
                        <p>No Seller found</p>
                    </div>
                </div>

                <div class="row" *ngIf="allSeller?.length >= 1">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-dark text-white" style="opacity: 0.9;">
                                <th>
                                    #
                                </th>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    Email
                                </th>
                                <th>
                                    Mobile #
                                </th>
                                <th>
                                    Created At
                                </th>
                                <th>
                                    Action
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allSeller | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td>
                                        {{item?.firstname}} {{item?.middlename}} {{item?.lastname}}
                                    </td>
                                    <td>
                                        {{item?.email}}
                                    </td>
                                    <td>
                                        {{item?.mobile}}
                                    </td>
                                    <td>
                                        {{ item?.createdAt | date: 'EEEE , MMM d, y' }}
                                    </td>
                                    <td>
                                        <i class="fa fa-pencil action_btn" aria-hidden="true" routerLink="/seller/{{item?._id}}"></i>
                                        <i class="fa fa-trash action_btn" aria-hidden="true" (click)="delete(item._id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <pagination-controls (pageChange)="p= $event"></pagination-controls>
                    </div>
                </div>
            </div>

        </div>
    </div>