<div class="row">
    <div class="col-md-12">
        <div class="card">

            <div class="card-header">
                <div class="row">
                    <!--Orders page header-->
                    <div class="col-12 col-md-6">
                        <h4 class="card-title pt-3">
                            Category Management
                        </h4>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row mb-2">
                    <!--Search Box-->
                    <div class="col-12 col-md-6">
                        <label for="searchHere">Search here</label>
                        <input class="form-control" type="text" name="search" id="searchHere" [(ngModel)]="searchText" autocomplete="off" placeholder="Type here to search" />
                    </div>
                    <div class="col-12 col-md-6 text-right">
                        <button class="btn btn-primary" routerLink="/backend/category/new">Add More</button>
                    </div>
                </div>

                <div class="row p-3" *ngIf="allCategories?.length <= 0">
                    <div class="col-12 col-md-12 text-center mt-3">
                        <p>No Category found</p>
                    </div>
                </div>

                <div class="row" *ngIf="allCategories?.length >= 1">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="bg-dark text-white" style="opacity: 0.9;">
                                <th>
                                    #
                                </th>
                                <th>
                                    Category Name
                                </th>
                                <th>
                                    Category Parent
                                </th>
                                <th>
                                    Status
                                </th>
                                <th>
                                    Created Date
                                </th>
                                <th>
                                    Created Time
                                </th>
                                <th>
                                    Action
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of allCategories | filter: searchText | paginate: { itemsPerPage: 10, currentPage: p }; index as i">
                                    <td>
                                        {{i+1}}
                                    </td>
                                    <td>
                                        {{item?.name}}
                                    </td>
                                    <td>
                                        {{item?.parent}}
                                    </td>
                                    <td>
                                        {{item?.status}}
                                    </td>
                                    <td>
                                        {{ item?.createdAt | date: 'MMM d, y' }}
                                    </td>
                                    <td>
                                        {{ item?.createdAt | date: 'EEEE h:mm a' }}
                                    </td>
                                    <td>
                                        <i class="fa fa-pencil action_btn" aria-hidden="true" routerLink="/backend/category/{{item?._id}}"></i>
                                        <i class="fa fa-trash action_btn" aria-hidden="true" (click)="delete(item._id)"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <pagination-controls (pageChange)="p= $event"></pagination-controls>
                    </div>
                </div>
            </div>

        </div>
    </div>