.ion-md-arrow-round-back {
    font-size: 25px !important;
}

.customBtn {
    margin: 0px 5px !important;
}

.action_btn {
    cursor: pointer !important;
    margin-left: 7px !important;
    font-size: large !important;
}

.action_btn:hover {
    color: #5f5fff !important
}